.login{
    background: #012048;
    width:100%;
    height:100%;
    min-height: 100vh;
}

.menu{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-top: var(--chakra-space-4);
    padding-bottom: var(--chakra-space-4);
    -webkit-padding-start: var(--chakra-space-6);
    padding-inline-start: var(--chakra-space-6);
    -webkit-padding-end: var(--chakra-space-6);
    padding-inline-end: var(--chakra-space-6);
    width: 100%;
    min-height: 48px;
    height: 64px;
    background: #0B1426;
}

.menu .group{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.menu .group .menuButton{
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-fast);
    transition-timing-function: var(--chakra-transition-easing-ease-out);
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: inherit;
    margin-right: var(--chakra-space-10);
    color:#fff;
}
.menu .group .menuRegister{
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-fast);
    transition-timing-function: var(--chakra-transition-easing-ease-out);
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: inherit;
}
