.navbar{
    display: block;
    background-color: var(--chakra-colors-white);
    border-bottom-width: 1px;
}
.navbar .navbarContent{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 1444px;
    margin: auto auto;
    height: var(--chakra-sizes-14);
    -webkit-padding-start: var(--chakra-space-5);
    padding-inline-start: var(--chakra-space-5);
    -webkit-padding-end: var(--chakra-space-5);
    padding-inline-end: var(--chakra-space-5);
}

.navbar .navbarLogo{
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-fast);
    transition-timing-function: var(--chakra-transition-easing-ease-out);
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: #1199FA;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.navbar .navbarEnd{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:relative;
}