.content{
    background:#F8F9FB;
    min-width: 100%;
    width:100%;
    min-height: 100vh;
}

.content .container{
    width:90%;
    margin:0 auto;
}

.boxShadow{
    box-shadow: rgb(0 0 0 / 5%) 0px 4px 10px 3px;
}

.separo{
    width:100%;
    max-width:600px;
}

.noDecor{
    text-decoration: none;
    border:0px;
}